[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework-simplejwt = "3.13.1"
pillow = "*"
django-filter = "*"
djangorestframework = "*"
mysqlclient = "*"
drf-yasg = "*"
celery = {extras = ["redis"], version = "*"}
django-celery-beat = "*"

[dev-packages]

[requires]
python_version = "3.11"
